<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="medications" transaction-type="RESOURCE_LOCAL">

        <class>com.company.medications.entity.MedicationEntity</class>
        <class>com.company.medications.entity.CountryOfRegistration</class>
        <class>com.company.medications.entity.RegistrationStatus</class>
    </persistence-unit>
</persistence>
